

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

DATABASE_URL="mysql://root:Emmizy2013@localhost:3306/linos_touch"


NEXT_PUBLIC_APP_URL=http://localhost:3000/
AUTH_SECRET=en/6YEZ+TJNd5I0IDUqczgKDfxg1YIQaAkLG3EKFOkQ=
JWT_USER_ID_SECRET="Wg5wBcXDZDBIlGx2t19ZVR8Z8i8Tz48ftTRNb9Cinys="
RESEND_API_KEY="re_21PbMmPQ_Jf29uLeJEnRpuAmNXi2Me1KE"

